.btn-outline-dark {
  color: #444;
  background-color: white;
  border: none;
  
  border-radius: 3px;
}
#secondButton {
  border-left: solid 1px #444;
}

.btn-outline-dark:hover {
  color: #444;
  background-color: #feb850;
}
.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: black;
  background-color: #feb850;
}
.clear {
  display: none;
} 

[id^='interest_'] {
  display: none;
  width: 100%;
  height: 0px;
  padding: 0px;
  font-size: 15px;
  line-height: 0;
  color: #555555;
  background-color: transparent;
  background-image: none;
  border-radius: 3px !important;
  -webkit-transition: border-color ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
}

#sendBtn {
  background-color: #feb850;
}

#actionbtn button {
  float: right;
}

form label {
  color: whitesmoke;
}

label {
  text-transform: none;
  font-weight: 400;
  padding-left: 5px;
}
.feedback-label {
  text-transform: none;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.3em;
}
.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
}

.form-group {
  margin-bottom: 2.5em;
}

#contact {
  position: relative;
  height: 100%;
  background-color: #0B68B2; 
  border-radius: 15px; 
}

#contact div div h2 {
  text-transform: none; color: #ffc107;
}

#formContainer {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 30px;
  height: 500px;
}
.form-check-label {
  font-size: 1em;
} 
  

.modal p {
  font-size: 1em;
}
.modal-title {
  color: whitesmoke;
  
}
#confirmationModal .modal-header {
  background-color: #0B68B2;
}

#errorModal .modal-header {
  background-color: red;
}

select #language option[value="en"]   { background-image:url("../images/icons8-great-britain-48.png");   }
select #language option[value="es"] { background-image:url("../images/icons8-spain-48.png"); }
select #language option[value="ca-ES"] { background-image:url("../images/40px-Flag_of_Catalonia.png"); }

.lang-tag {
  font-size: small;
  padding: 1px 15px;
  border: solid #DDDEDF 1px;
  border-radius: 5px;
  background-color: #BBD9F7;
  cursor: pointer;
}